<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>mail list</title>
</head>
<body>
   
   <div id="app">

      <div v-if="errorMsg">
         <h2>Errore!!!!</h2>
      </div>

      <div v-else>
         <h2>lista mail:</h2>
         <ul>
            <li v-for="email in emails">{{email}}</li>
         </ul>
      </div>
      
   </div>


   <!-- vue -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <!-- axios -->
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <!-- mio js -->
   <script src="vue.js"></script>
</body>
</html>